<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flexbox interactive example with vue.js</title>
    <link href="../src/full.css" rel="stylesheet"/>
    <link href="../src/demo.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/1.4.2/theme-default/index.css"/>
</head>
<body>
<div id="app">
    <div class="block">
        <h1 class="title--3">Flexbox</h1>
        <h2 class="subtitle--3" class="delay2">Flexbox 2</h2>
    </div>

    <el-checkbox v-model="enable">Enable</el-checkbox>
    <h2>Direction</h2>
    <el-radio-group v-model="direction">
        <el-radio label="flex-columns">flex-columns</el-radio>
        <el-radio label="flex-rows">flex-rows</el-radio>
    </el-radio-group>

    <h2>Multi</h2>
    <el-radio-group v-model="multi">
        <el-radio label="flex-multi">flex-multi</el-radio>
        <el-radio label="">not</el-radio>
    </el-radio-group>

    <h2>Main axis</h2>
    <el-radio-group v-model="main">
        <el-radio label="flex--main-start">flex--main-start</el-radio>
        <el-radio label="flex--main-center">flex--main-center</el-radio>
        <el-radio label="flex--main-end">flex--main-end</el-radio>
        <el-radio label="flex--main-around">flex--main-around</el-radio>
        <el-radio label="flex--main-between">flex--main-between</el-radio>
    </el-radio-group>

    <h2>Cross axis</h2>
    <el-radio-group v-model="cross">
        <el-radio label="flex--cross-stretch">flex--cross-stretch</el-radio>
        <el-radio label="flex--cross-start">flex--cross-start</el-radio>
        <el-radio label="flex--cross-center">flex--cross-center</el-radio>
        <el-radio label="flex--cross-end">flex--cross-end</el-radio>
    </el-radio-group>

    <h2>Cross multi axis</h2>
    <el-radio-group v-model="multi_cross">
        <el-radio label="flex-multi--cross-start">flex-multi--cross-start</el-radio>
        <el-radio label="flex-multi--cross-stretch">flex-multi--cross-stretch</el-radio>
        <el-radio label="flex-multi--cross-center">flex-multi--cross-center</el-radio>
        <el-radio label="flex-multi--cross-end">flex-multi--cross-end</el-radio>
        <el-radio label="flex-multi--cross-around">flex-multi--cross-around</el-radio>
        <el-radio label="flex-multi--cross-between">flex-multi--cross-between</el-radio>
    </el-radio-group>

    <h2>Basic grid</h2>
    <h3>Classes: {{ [ direction, multi, cross, main, multi_cross ].join(' ') }}</h3>
    <main style="height: 300px; width: 600px" class="flex-cell--static" :class="[ direction, multi, cross, main, multi_cross ]">
        <div class="flex-cell--1-3">flex-cell--1-3 first</div>
        <div class="flex-cell--1-3">flex-cell--1-3 second</div>
        <div class="flex-cell--1-3">flex-cell--1-3</div>
        <div class="flex-cell--2-3">flex-cell--2-3</div>
        <div class="flex-cell--1-3">flex-cell--1-3</div>
        <div class="flex-cell--1-4">flex-cell--1-4</div>
        <div class="flex-cell--1-4">flex-cell--1-4</div>
        <div class="flex-cell--1-4">flex-cell--1-4</div>
        <div class="flex-cell--1-4">flex-cell--1-4</div>
        <div class="flex-cell--1-5">flex-cell--1-5</div>
        <div class="flex-cell--1-5">flex-cell--1-5</div>
        <div class="flex-cell">flex-cell (auto) last</div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/vue/2.3.2/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/1.4.2/index.js"></script>

<script>

  var app = new Vue({
    el: '#app',
    data: {
      main: 'flex--main-start',
      cross: 'flex--cross-stretch',
      multi_cross: 'flex-multi--cross-stretch',
      multi: 'flex-multi',
      direction: 'flex-columns',
      message: 'Hello Vue!'
    }
  })

</script>

</body>
</html>