.flex-columns, .flex {
  border: 2px dashed #fcc !important;
}

.flex-rows {
  border: 2px dashed #f99 !important;
}

.flex-cell {
  border: 1px dashed #ccf;
}

.flex-cell--static {
  border: 1px dashed #99f;
}

div {
  border: 1px dashed #999 !important;
}