$smallViewportWidth = 550px;
$steps = (2 3 4 10 12);
$padSteps = (0.5 1 1.5 2 2.5 3 3.5 4 4.5 5 5.5 6);
$marginColsPt = 4;

$sizes = '' sm md;
$buttonSizes = '' sd md lg;

$primaryColor = #5839ff;
$secondaryColor = #ff12ae;
$serviceColor = gray;
$cancelColor = #c8041e;
$disableColor = #ccc;

$defaultBackgroundColor = white;

$defaultTextColor = #333;
$highlightTextColor = #000;
$titleTextColor = #333;
$primaryTextColor = white;
$secondaryTextColor = #888;
$cancelTextColor = white;
$serviceTextColor = $defaultTextColor;

$ratioColor = {
  active: #333,
  selected: #222,
  hover: #222,
  selected-hover: #111
}

$htmlFontSize = 16px;
$ratioLineHeight = 1.8; // Ratio of height

$defaultFontSize = 1rem;
$defaultPad = 1em;
$smPad = .4rem;
$lgPad = 1.6rem;

$smFontSize = .72rem;
$mdFontSize = 1rem;
$lgFontSize = 1.6rem;

$defaultLineHeight = $defaultFontSize * $ratioLineHeight;

$smLineHeight = $smFontSize * $ratioLineHeight;
$mdLineHeight = $mdFontSize * $ratioLineHeight;
$lgLineHeight = $lgFontSize * $ratioLineHeight;

$defaultRadius = .4rem;
