.flex-columns,
.flex {
  border: 2px dashed #fcc !important;
}
.flex-rows {
  border: 2px dashed #f99 !important;
}
.flex-cell {
  border: 1px dashed #ccf;
}
.flex-cell--static,
.cell--pull-left,
.flex-cell--pull-left,
.cell--pull-right,
.flex-cell--pull-right,
.cell--pull-top,
.flex-cell--pull-top,
.cell--pull-bottom,
.flex-cell--pull-bottom,
.cell--1,
.flex-cell--1,
.flex-cell--full,
.cell--1-2,
.flex-cell--1-2,
.cell--2-3,
.flex-cell--2-3,
.cell--1-3,
.flex-cell--1-3,
.cell--1-4,
.flex-cell--1-4,
.cell--1-5,
.flex-cell--1-5 {
  border: 1px dashed #99f;
}
div {
  border: 1px dashed #eee !important;
}
.cols,
.flex-columns,
.cols--center,
.cols--top,
.cols--bottom,
.cols-multi--center,
.rows--center,
.rows--left,
.rows--right,
.rows-multi--center {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cols .flex-break,
.flex-columns .flex-break,
.cols--center .flex-break,
.cols--top .flex-break,
.cols--bottom .flex-break,
.cols-multi--center .flex-break,
.rows--center .flex-break,
.rows--left .flex-break,
.rows--right .flex-break,
.rows-multi--center .flex-break {
  width: 100%;
}
.rows,
.flex-rows {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rows .flex-break,
.flex-rows .flex-break {
  height: 100%;
}
.wrap,
.multi,
.flex-wrap,
.flex-multi,
.cols-multi--center,
.rows-multi--center {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.reverse,
.flex-wrap--reverse,
.flex-multi--reverse {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.cell,
.flex-cell {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}
.cell--s,
.flex-cell--static,
.cell--pull-left,
.flex-cell--pull-left,
.cell--pull-right,
.flex-cell--pull-right,
.cell--pull-top,
.flex-cell--pull-top,
.cell--pull-bottom,
.flex-cell--pull-bottom,
.cell--1,
.flex-cell--1,
.flex-cell--full,
.cell--1-2,
.flex-cell--1-2,
.cell--2-3,
.flex-cell--2-3,
.cell--1-3,
.flex-cell--1-3,
.cell--1-4,
.flex-cell--1-4,
.cell--1-5,
.flex-cell--1-5 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cell--pull-left,
.flex-cell--pull-left {
  margin-right: auto;
}
.cell--pull-right,
.flex-cell--pull-right {
  margin-left: auto;
}
.cell--pull-top,
.flex-cell--pull-top {
  margin-bottom: auto;
}
.cell--pull-bottom,
.flex-cell--pull-bottom {
  margin-top: auto;
}
.cell--1,
.flex-cell--1,
.flex-cell--full {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.cell--1-2,
.flex-cell--1-2 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}
.cell--2-3,
.flex-cell--2-3 {
  -webkit-flex-basis: 66.66%;
  flex-basis: 66.66%;
}
.cell--1-3,
.flex-cell--1-3 {
  -webkit-flex-basis: 33.33%;
  flex-basis: 33.33%;
}
.cell--1-4,
.flex-cell--1-4 {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
}
.cell--1-5,
.flex-cell--1-5 {
  -webkit-flex-basis: 20%;
  flex-basis: 20%;
}
.flex--main-center,
.cols--center,
.cols--top,
.cols--bottom,
.cols-multi--center,
.rows--center,
.rows--left,
.rows--right,
.rows-multi--center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex--main-end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.flex--main-around {
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.flex--main-evenly {
  -webkit-box-pack: space-evenly;
  -moz-box-pack: space-evenly;
  -o-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
}
.flex--main-between {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex--cross-start,
.cols--top,
.cols--bottom,
.rows--left {
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.flex--cross-center,
.cols--center,
.rows--center,
.rows-multi--center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex--cross-end,
.rows--right {
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.flex--cross-fill,
.flex--cross-stretch {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.flex-multi--cross-start {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
.flex-multi--cross-center,
.cols-multi--center {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}
.flex-multi--cross-end {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}
.flex-multi--cross-around {
  -ms-flex-line-pack: distribute;
  -webkit-align-content: space-around;
  align-content: space-around;
}
.flex-multi--cross-between {
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
  align-content: space-between;
}
.flex-multi--cross-fill,
.flex-multi--cross-stretch {
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}
.cell--self-start,
.flex-cell--self-left,
.flex-cell--self-top {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start;
}
.cell--self-end,
.flex-cell--self-right,
.flex-self--self-bottom {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end;
}
.cell--self-center,
.flex-cell--self-center {
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
}
.pad-1 {
  padding: 1rem;
}
