html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
* {
  -ms-scroll-chaining: none;
}
*[contenteditable] {
  -webkit-user-select: auto !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}
h1 {
  line-height: 1.2;
}
h2 {
  line-height: 1.25;
}
h3 {
  line-height: 1.3;
}
h4 {
  line-height: 1.4;
}
h5 {
  line-height: 1.6;
}
h6 {
  line-height: 1.8;
}
p {
  margin-top: 0;
}
a {
  color: #5839ff;
}
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  outline: 0;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  outline: 0;
}
fieldset {
  padding: 0;
  border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
}
code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
.full-width {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.max-full-width {
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
hr {
  border-top: 1px solid #e1e1e1;
}
.container:after,
.clear {
  content: "";
  display: table;
  clear: both;
}
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 550px) {
  .container {
    width: 85%;
    padding: 0;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1160px;
  }
}
.full-screen {
  height: 100vh;
}
.half-screen {
  height: 50vh;
}
.quarter-screen {
  height: 25vh;
}
.abs-left-top {
  position: absolute;
  left: 0;
  top: 0;
}
.abs-left-center {
  position: absolute;
  left: 0;
  top: 50%;
}
.abs-left-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
}
.abs-center-top {
  position: absolute;
  left: 50%;
  top: 0;
}
.abs-center-center {
  position: absolute;
  left: 50%;
  top: 50%;
}
.abs-center-bottom {
  position: absolute;
  left: 50%;
  bottom: 0;
}
.abs-right-top {
  position: absolute;
  right: 0;
  top: 0;
}
.abs-right-center {
  position: absolute;
  right: 0;
  top: 50%;
}
.abs-right-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}
.abs-full {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.pad--0-5 {
  padding: 0.5rem;
}
.pad-h--0-5 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.pad-v--0-5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.pad-left--0-5 {
  padding-left: 0.5rem;
}
.pad-right--0-5 {
  padding-right: 0.5rem;
}
.mar--0-5 {
  margin: 0.5rem;
}
.mar-h--0-5 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.mar-v--0-5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.mar-left--0-5 {
  margin-left: 0.5rem;
}
.mar-right--0-5 {
  margin-right: 0.5rem;
}
.mar-top--0-5 {
  margin-top: 0.5rem;
}
.mar-bottom--0-5 {
  margin-bottom: 0.5rem;
}
.mar-pad-top--0-5 {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}
.pad--1 {
  padding: 1rem;
}
.pad-h--1 {
  padding-right: 1rem;
  padding-left: 1rem;
}
.pad-v--1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pad-left--1 {
  padding-left: 1rem;
}
.pad-right--1 {
  padding-right: 1rem;
}
.mar--1 {
  margin: 1rem;
}
.mar-h--1 {
  margin-right: 1rem;
  margin-left: 1rem;
}
.mar-v--1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mar-left--1 {
  margin-left: 1rem;
}
.mar-right--1 {
  margin-right: 1rem;
}
.mar-top--1 {
  margin-top: 1rem;
}
.mar-bottom--1 {
  margin-bottom: 1rem;
}
.mar-pad-top--1 {
  margin-top: 1rem;
  padding-top: 1rem;
}
.pad--1-5 {
  padding: 1.5rem;
}
.pad-h--1-5 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.pad-v--1-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.pad-left--1-5 {
  padding-left: 1.5rem;
}
.pad-right--1-5 {
  padding-right: 1.5rem;
}
.mar--1-5 {
  margin: 1.5rem;
}
.mar-h--1-5 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.mar-v--1-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.mar-left--1-5 {
  margin-left: 1.5rem;
}
.mar-right--1-5 {
  margin-right: 1.5rem;
}
.mar-top--1-5 {
  margin-top: 1.5rem;
}
.mar-bottom--1-5 {
  margin-bottom: 1.5rem;
}
.mar-pad-top--1-5 {
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}
.pad--2 {
  padding: 2rem;
}
.pad-h--2 {
  padding-right: 2rem;
  padding-left: 2rem;
}
.pad-v--2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pad-left--2 {
  padding-left: 2rem;
}
.pad-right--2 {
  padding-right: 2rem;
}
.mar--2 {
  margin: 2rem;
}
.mar-h--2 {
  margin-right: 2rem;
  margin-left: 2rem;
}
.mar-v--2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mar-left--2 {
  margin-left: 2rem;
}
.mar-right--2 {
  margin-right: 2rem;
}
.mar-top--2 {
  margin-top: 2rem;
}
.mar-bottom--2 {
  margin-bottom: 2rem;
}
.mar-pad-top--2 {
  margin-top: 2rem;
  padding-top: 2rem;
}
.pad--2-5 {
  padding: 2.5rem;
}
.pad-h--2-5 {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}
.pad-v--2-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.pad-left--2-5 {
  padding-left: 2.5rem;
}
.pad-right--2-5 {
  padding-right: 2.5rem;
}
.mar--2-5 {
  margin: 2.5rem;
}
.mar-h--2-5 {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}
.mar-v--2-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.mar-left--2-5 {
  margin-left: 2.5rem;
}
.mar-right--2-5 {
  margin-right: 2.5rem;
}
.mar-top--2-5 {
  margin-top: 2.5rem;
}
.mar-bottom--2-5 {
  margin-bottom: 2.5rem;
}
.mar-pad-top--2-5 {
  margin-top: 2.5rem;
  padding-top: 2.5rem;
}
.pad--3 {
  padding: 3rem;
}
.pad-h--3 {
  padding-right: 3rem;
  padding-left: 3rem;
}
.pad-v--3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.pad-left--3 {
  padding-left: 3rem;
}
.pad-right--3 {
  padding-right: 3rem;
}
.mar--3 {
  margin: 3rem;
}
.mar-h--3 {
  margin-right: 3rem;
  margin-left: 3rem;
}
.mar-v--3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.mar-left--3 {
  margin-left: 3rem;
}
.mar-right--3 {
  margin-right: 3rem;
}
.mar-top--3 {
  margin-top: 3rem;
}
.mar-bottom--3 {
  margin-bottom: 3rem;
}
.mar-pad-top--3 {
  margin-top: 3rem;
  padding-top: 3rem;
}
.pad--4 {
  padding: 4rem;
}
.pad-h--4 {
  padding-right: 4rem;
  padding-left: 4rem;
}
.pad-v--4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.pad-left--4 {
  padding-left: 4rem;
}
.pad-right--4 {
  padding-right: 4rem;
}
.mar--4 {
  margin: 4rem;
}
.mar-h--4 {
  margin-right: 4rem;
  margin-left: 4rem;
}
.mar-v--4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.mar-left--4 {
  margin-left: 4rem;
}
.mar-right--4 {
  margin-right: 4rem;
}
.mar-top--4 {
  margin-top: 4rem;
}
.mar-bottom--4 {
  margin-bottom: 4rem;
}
.mar-pad-top--4 {
  margin-top: 4rem;
  padding-top: 4rem;
}
.pad--5 {
  padding: 5rem;
}
.pad-h--5 {
  padding-right: 5rem;
  padding-left: 5rem;
}
.pad-v--5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.pad-left--5 {
  padding-left: 5rem;
}
.pad-right--5 {
  padding-right: 5rem;
}
.mar--5 {
  margin: 5rem;
}
.mar-h--5 {
  margin-right: 5rem;
  margin-left: 5rem;
}
.mar-v--5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.mar-left--5 {
  margin-left: 5rem;
}
.mar-right--5 {
  margin-right: 5rem;
}
.mar-top--5 {
  margin-top: 5rem;
}
.mar-bottom--5 {
  margin-bottom: 5rem;
}
.mar-pad-top--5 {
  margin-top: 5rem;
  padding-top: 5rem;
}
.pad--6 {
  padding: 6rem;
}
.pad-h--6 {
  padding-right: 6rem;
  padding-left: 6rem;
}
.pad-v--6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.pad-left--6 {
  padding-left: 6rem;
}
.pad-right--6 {
  padding-right: 6rem;
}
.mar--6 {
  margin: 6rem;
}
.mar-h--6 {
  margin-right: 6rem;
  margin-left: 6rem;
}
.mar-v--6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.mar-left--6 {
  margin-left: 6rem;
}
.mar-right--6 {
  margin-right: 6rem;
}
.mar-top--6 {
  margin-top: 6rem;
}
.mar-bottom--6 {
  margin-bottom: 6rem;
}
.mar-pad-top--6 {
  margin-top: 6rem;
  padding-top: 6rem;
}
.level--0 {
  margin-left: -2rem;
}
.level--1 {
  margin-left: 0rem;
}
.level--2 {
  margin-left: 2rem;
}
.level--3 {
  margin-left: 4rem;
}
.level--4 {
  margin-left: 6rem;
}
.level--5 {
  margin-left: 8rem;
}
.level--6 {
  margin-left: 10rem;
}
.level--7 {
  margin-left: 12rem;
}
.level--8 {
  margin-left: 14rem;
}
.level--9 {
  margin-left: 16rem;
}
.level--10 {
  margin-left: 18rem;
}
.level--11 {
  margin-left: 20rem;
}
.level--12 {
  margin-left: 22rem;
}
.level--13 {
  margin-left: 24rem;
}
.level--14 {
  margin-left: 26rem;
}
.level--15 {
  margin-left: 28rem;
}
.level--16 {
  margin-left: 30rem;
}
.level--17 {
  margin-left: 32rem;
}
.level--18 {
  margin-left: 34rem;
}
.level--19 {
  margin-left: 36rem;
}
.level--20 {
  margin-left: 38rem;
}
.level--21 {
  margin-left: 40rem;
}
.level--22 {
  margin-left: 42rem;
}
.level--23 {
  margin-left: 44rem;
}
.level--24 {
  margin-left: 46rem;
}
.level--25 {
  margin-left: 48rem;
}
.title,
.subtitle,
.title--0-5,
.subtitle--0-5,
.title--1,
.subtitle--1,
.title--1-5,
.subtitle--1-5,
.title--2,
.subtitle--2,
.title--2-5,
.subtitle--2-5,
.title--3,
.subtitle--3,
.title--4,
.subtitle--4,
.title--5,
.subtitle--5,
.title--6,
.subtitle--6 {
  word-break: break-word;
}
.title em,
.title span,
.subtitle em,
.subtitle span {
  font-weight: 300;
}
.title strong,
.subtitle strong {
  font-weight: 500;
}
.title .tag,
.subtitle .tag {
  vertical-align: middle;
}
.title,
.title--0-5,
.title--1,
.title--1-5,
.title--2,
.title--2-5,
.title--3,
.title--4,
.title--5,
.title--6 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.125;
}
.title strong {
  color: inherit;
}
.title + .highlight {
  margin-top: -0.75rem;
}
.title + .subtitle {
  margin-top: -1.25rem;
}
.subtitle,
.subtitle--0-5,
.subtitle--1,
.subtitle--1-5,
.subtitle--2,
.subtitle--2-5,
.subtitle--3,
.subtitle--4,
.subtitle--5,
.subtitle--6 {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: -0.05rem;
}
.subtitle + .title {
  margin-top: -1.5rem;
}
.block:not(:last-child) {
  margin-bottom: 1.5rem;
}
.title--0-5 {
  font-size: 0.5rem;
}
.subtitle--0-5 {
  opacity: 0.8;
  margin-top: -1.25rem;
  font-size: 0.375rem;
}
.title--1 {
  font-size: 1rem;
}
.subtitle--1 {
  opacity: 0.8;
  margin-top: -1.25rem;
  font-size: 0.75rem;
}
.title--1-5 {
  font-size: 1.5rem;
}
.subtitle--1-5 {
  opacity: 0.8;
  margin-top: -1.25rem;
  font-size: 1.125rem;
}
.title--2 {
  font-size: 2rem;
}
.subtitle--2 {
  opacity: 0.8;
  margin-top: -1.25rem;
  font-size: 1.5rem;
}
.title--2-5 {
  font-size: 2.5rem;
}
.subtitle--2-5 {
  opacity: 0.8;
  margin-top: -1.25rem;
  font-size: 1.875rem;
}
.title--3 {
  font-size: 3rem;
}
.subtitle--3 {
  opacity: 0.8;
  margin-top: -1.25rem;
  font-size: 2.25rem;
}
.title--4 {
  font-size: 4rem;
}
.subtitle--4 {
  opacity: 0.8;
  margin-top: -1.25rem;
  font-size: 3rem;
}
.title--5 {
  font-size: 5rem;
}
.subtitle--5 {
  opacity: 0.8;
  margin-top: -1.25rem;
  font-size: 3.75rem;
}
.title--6 {
  font-size: 6rem;
}
.subtitle--6 {
  opacity: 0.8;
  margin-top: -1.25rem;
  font-size: 4.5rem;
}
.bg--fixed,
.bg--parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.cols,
.flex-columns,
.cols--center,
.cols--top,
.cols--bottom,
.cols-multi--center,
.rows--center,
.rows--left,
.rows--right,
.rows-multi--center {
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.cols .flex-break,
.flex-columns .flex-break,
.cols--center .flex-break,
.cols--top .flex-break,
.cols--bottom .flex-break,
.cols-multi--center .flex-break,
.rows--center .flex-break,
.rows--left .flex-break,
.rows--right .flex-break,
.rows-multi--center .flex-break {
  width: 100%;
}
.rows,
.flex-rows {
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.rows .flex-break,
.flex-rows .flex-break {
  height: 100%;
}
.wrap,
.multi,
.flex-wrap,
.flex-multi,
.cols-multi--center,
.rows-multi--center {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.reverse,
.flex-wrap--reverse,
.flex-multi--reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.cell,
.flex-cell {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}
.cell--s,
.flex-cell--static,
.cell--pull-left,
.flex-cell--pull-left,
.cell--pull-right,
.flex-cell--pull-right,
.cell--pull-top,
.flex-cell--pull-top,
.cell--pull-bottom,
.flex-cell--pull-bottom,
.cell--1,
.flex-cell--1,
.flex-cell--full,
.cell--1-2,
.flex-cell--1-2,
.cell--2-3,
.flex-cell--2-3,
.cell--1-3,
.flex-cell--1-3,
.cell--1-4,
.flex-cell--1-4,
.cell--1-5,
.flex-cell--1-5 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cell--pull-left,
.flex-cell--pull-left {
  margin-right: auto;
}
.cell--pull-right,
.flex-cell--pull-right {
  margin-left: auto;
}
.cell--pull-top,
.flex-cell--pull-top {
  margin-bottom: auto;
}
.cell--pull-bottom,
.flex-cell--pull-bottom {
  margin-top: auto;
}
.cell--1,
.flex-cell--1,
.flex-cell--full {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.cell--1-2,
.flex-cell--1-2 {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}
.cell--2-3,
.flex-cell--2-3 {
  -webkit-flex-basis: 66.66%;
  flex-basis: 66.66%;
}
.cell--1-3,
.flex-cell--1-3 {
  -webkit-flex-basis: 33.33%;
  flex-basis: 33.33%;
}
.cell--1-4,
.flex-cell--1-4 {
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
}
.cell--1-5,
.flex-cell--1-5 {
  -webkit-flex-basis: 20%;
  flex-basis: 20%;
}
.flex--main-center,
.cols--center,
.cols--top,
.cols--bottom,
.cols-multi--center,
.rows--center,
.rows--left,
.rows--right,
.rows-multi--center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex--main-end {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.flex--main-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.flex--main-evenly {
  -ms-flex-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
}
.flex--main-between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex--cross-start,
.cols--top,
.cols--bottom,
.rows--left {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.flex--cross-center,
.cols--center,
.rows--center,
.rows-multi--center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex--cross-end,
.rows--right {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.flex--cross-fill,
.flex--cross-stretch {
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.flex-multi--cross-start {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
.flex-multi--cross-center,
.cols-multi--center {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}
.flex-multi--cross-end {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}
.flex-multi--cross-around {
  -ms-flex-line-pack: distribute;
  -webkit-align-content: space-around;
  align-content: space-around;
}
.flex-multi--cross-between {
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
  align-content: space-between;
}
.flex-multi--cross-fill,
.flex-multi--cross-stretch {
  -ms-flex-line-pack: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}
.cell--self-start,
.flex-cell--self-left,
.flex-cell--self-top {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start;
}
.cell--self-end,
.flex-cell--self-right,
.flex-self--self-bottom {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end;
}
.cell--self-center,
.flex-cell--self-center {
  -webkit-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
}
