
for $size in $padSteps {
  $sizeName = replace('\.', '-', ''+$size);

  .pad--{$sizeName} {
    padding: $size rem;
  }

  .pad-h--{$sizeName} {
    padding-right: $size rem;
    padding-left: $size rem;
  }

  .pad-v--{$sizeName} {
    padding-top: $size rem;
    padding-bottom: $size rem;
  }

  .pad-left--{$sizeName} {
    padding-left: $size rem;
  }

  .pad-right--{$sizeName} {
    padding-right: $size rem;
  }

  .mar--{$sizeName} {
    margin: $size rem;
  }

  .mar-h--{$sizeName} {
    margin-right: $size rem;
    margin-left: $size rem;
  }

  .mar-v--{$sizeName} {
    margin-top: $size rem;
    margin-bottom: $size rem;
  }

  .mar-left--{$sizeName} {
    margin-left: $size rem;
  }

  .mar-right--{$sizeName} {
    margin-right: $size rem;
  }

  .mar-top--{$sizeName} {
    margin-bottom: $size rem;
  }

  .mar-bottom--{$sizeName} {
    margin-bottom: $size rem;
  }

  .mar-pad-top--{$sizeName} {
    margin-top: $size rem;
    padding-top: $size rem;
  }

}

for $size in (0..25){
  .level--{$size} {
    margin-left: ($size - 1 ) * 2 rem;
  }
}




