.bg--navy-0 {
  background-color: #3f465a;
}
.text--navy-0 {
  background-color: #3f465a;
}
.bg--navy-1 {
  background-color: #495169;
}
.text--navy-1 {
  background-color: #495169;
}
.bg--navy-2 {
  background-color: #57607c;
}
.text--navy-2 {
  background-color: #57607c;
}
.bg--navy-3 {
  background-color: #697496;
}
.text--navy-3 {
  background-color: #697496;
}
.bg--navy-4 {
  background-color: #8790ab;
}
.text--navy-4 {
  background-color: #8790ab;
}
.bg--navy-5 {
  background-color: #fff;
}
.text--navy-5 {
  background-color: #fff;
}
.bg--green-0 {
  background-color: #15b784;
}
.text--green-0 {
  background-color: #15b784;
}
.bg--green-1 {
  background-color: #18cd94;
}
.text--green-1 {
  background-color: #18cd94;
}
.bg--green-2 {
  background-color: #1add9f;
}
.text--green-2 {
  background-color: #1add9f;
}
.bg--green-3 {
  background-color: #32e7ad;
}
.text--green-3 {
  background-color: #32e7ad;
}
.bg--green-4 {
  background-color: #48eab7;
}
.text--green-4 {
  background-color: #48eab7;
}
.bg--green-5 {
  background-color: #fff;
}
.text--green-5 {
  background-color: #fff;
}
.bg--teal-0 {
  background-color: #13a08d;
}
.text--teal-0 {
  background-color: #13a08d;
}
.bg--teal-1 {
  background-color: #15b7a1;
}
.text--teal-1 {
  background-color: #15b7a1;
}
.bg--teal-2 {
  background-color: #18d2ba;
}
.text--teal-2 {
  background-color: #18d2ba;
}
.bg--teal-3 {
  background-color: #1be4c9;
}
.text--teal-3 {
  background-color: #1be4c9;
}
.bg--teal-4 {
  background-color: #32e7cf;
}
.text--teal-4 {
  background-color: #32e7cf;
}
.bg--teal-5 {
  background-color: #fff;
}
.text--teal-5 {
  background-color: #fff;
}
.bg--blue-0 {
  background-color: #1275ed;
}
.text--blue-0 {
  background-color: #1275ed;
}
.bg--blue-1 {
  background-color: #2a82ef;
}
.text--blue-1 {
  background-color: #2a82ef;
}
.bg--blue-2 {
  background-color: #4894f0;
}
.text--blue-2 {
  background-color: #4894f0;
}
.bg--blue-3 {
  background-color: #599ef3;
}
.text--blue-3 {
  background-color: #599ef3;
}
.bg--blue-4 {
  background-color: #71acf4;
}
.text--blue-4 {
  background-color: #71acf4;
}
.bg--blue-5 {
  background-color: #fff;
}
.text--blue-5 {
  background-color: #fff;
}
.bg--purple-0 {
  background-color: #905cf0;
}
.text--purple-0 {
  background-color: #905cf0;
}
.bg--purple-1 {
  background-color: #9f73f2;
}
.text--purple-1 {
  background-color: #9f73f2;
}
.bg--purple-2 {
  background-color: #b490f5;
}
.text--purple-2 {
  background-color: #b490f5;
}
.bg--purple-3 {
  background-color: #bfa2f6;
}
.text--purple-3 {
  background-color: #bfa2f6;
}
.bg--purple-4 {
  background-color: #cfb9f8;
}
.text--purple-4 {
  background-color: #cfb9f8;
}
.bg--purple-5 {
  background-color: #fff;
}
.text--purple-5 {
  background-color: #fff;
}
.bg--pink-0 {
  background-color: #f02872;
}
.text--pink-0 {
  background-color: #f02872;
}
.bg--pink-1 {
  background-color: #f24081;
}
.text--pink-1 {
  background-color: #f24081;
}
.bg--pink-2 {
  background-color: #f45b93;
}
.text--pink-2 {
  background-color: #f45b93;
}
.bg--pink-3 {
  background-color: #f570a1;
}
.text--pink-3 {
  background-color: #f570a1;
}
.bg--pink-4 {
  background-color: #f788b0;
}
.text--pink-4 {
  background-color: #f788b0;
}
.bg--pink-5 {
  background-color: #fff;
}
.text--pink-5 {
  background-color: #fff;
}
.bg--red-0 {
  background-color: #e60036;
}
.text--red-0 {
  background-color: #e60036;
}
.bg--red-1 {
  background-color: #ff003c;
}
.text--red-1 {
  background-color: #ff003c;
}
.bg--red-2 {
  background-color: #ff1a4f;
}
.text--red-2 {
  background-color: #ff1a4f;
}
.bg--red-3 {
  background-color: #ff3363;
}
.text--red-3 {
  background-color: #ff3363;
}
.bg--red-4 {
  background-color: #ff4d76;
}
.text--red-4 {
  background-color: #ff4d76;
}
.bg--red-5 {
  background-color: #fff;
}
.text--red-5 {
  background-color: #fff;
}
.bg--orange-0 {
  background-color: #ff5f33;
}
.text--orange-0 {
  background-color: #ff5f33;
}
.bg--orange-1 {
  background-color: #ff734d;
}
.text--orange-1 {
  background-color: #ff734d;
}
.bg--orange-2 {
  background-color: #ff8463;
}
.text--orange-2 {
  background-color: #ff8463;
}
.bg--orange-3 {
  background-color: #ff9b80;
}
.text--orange-3 {
  background-color: #ff9b80;
}
.bg--orange-4 {
  background-color: #ffaf99;
}
.text--orange-4 {
  background-color: #ffaf99;
}
.bg--orange-5 {
  background-color: #fff;
}
.text--orange-5 {
  background-color: #fff;
}
.bg--yellow-0 {
  background-color: #c90;
}
.text--yellow-0 {
  background-color: #c90;
}
.bg--yellow-1 {
  background-color: #e6ac00;
}
.text--yellow-1 {
  background-color: #e6ac00;
}
.bg--yellow-2 {
  background-color: #ffbf00;
}
.text--yellow-2 {
  background-color: #ffbf00;
}
.bg--yellow-3 {
  background-color: #ffc61a;
}
.text--yellow-3 {
  background-color: #ffc61a;
}
.bg--yellow-4 {
  background-color: #fc3;
}
.text--yellow-4 {
  background-color: #fc3;
}
.bg--yellow-5 {
  background-color: #fff;
}
.text--yellow-5 {
  background-color: #fff;
}
.bg--grey-0 {
  background-color: #c3d7ef;
}
.text--grey-0 {
  background-color: #c3d7ef;
}
.bg--grey-1 {
  background-color: #d7e4f4;
}
.text--grey-1 {
  background-color: #d7e4f4;
}
.bg--grey-2 {
  background-color: #ebf2fa;
}
.text--grey-2 {
  background-color: #ebf2fa;
}
.bg--grey-3 {
  background-color: #f0f5fb;
}
.text--grey-3 {
  background-color: #f0f5fb;
}
.bg--grey-4 {
  background-color: #f1f4f9;
}
.text--grey-4 {
  background-color: #f1f4f9;
}
.bg--grey-5 {
  background-color: #57607c;
}
.text--grey-5 {
  background-color: #57607c;
}
.bg--white-0 {
  background-color: #fff;
}
.text--white-0 {
  background-color: #fff;
}
.bg--white-1 {
  background-color: #fff;
}
.text--white-1 {
  background-color: #fff;
}
.bg--white-2 {
  background-color: #fff;
}
.text--white-2 {
  background-color: #fff;
}
.bg--white-3 {
  background-color: #fff;
}
.text--white-3 {
  background-color: #fff;
}
.bg--white-4 {
  background-color: #fff;
}
.text--white-4 {
  background-color: #fff;
}
.bg--white-5 {
  background-color: #57607c;
}
.text--white-5 {
  background-color: #57607c;
}
