.full-screen {
  height: 100vh;
}

.half-screen {
  height: 50vh;
}

.quarter-screen {
  height: 25vh;
}

// absolute left
.abs-left-top {
  absolute: left 0 top 0;
}

.abs-left-center {
  absolute: left 0 top 50%;
}

.abs-left-bottom {
  absolute: left 0 bottom 0;
}

// absolute center
.abs-center-top {
  absolute: left 50% top 0;
}

.abs-center-center {
  absolute: left 50% top 50%;
}

.abs-center-bottom {
  absolute: left 50% bottom 0;
}


// absolute right
.abs-right-top {
 absolute: right 0 top 0;
}

.abs-right-center {
  absolute: right 0 top 50%;
}

.abs-right-bottom {
  absolute: right 0 bottom 0;
}

// absolute full
.abs-full {
  absolute: left 0 top 0 right 0 bottom 0;
}
