.title,
.subtitle {
  word-break: break-word;
}

.title em,
.title span,
.subtitle em,
.subtitle span {
  font-weight: 300;
}


.title strong,
.subtitle strong {
  font-weight: 500;
}

.title .tag,
.subtitle .tag {
  vertical-align: middle;
}


.title {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.125;
}

.title strong {
  color: inherit;
}

.title + .highlight {
  margin-top: -0.75rem;
}


.title + .subtitle {
  margin-top: -1.25rem;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: -.05rem;
}

.subtitle + .title {
  margin-top: -1.5rem;
}

.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

for $size in $padSteps {
  $sizeName = replace('\.', '-', ''+$size);

  .title--{$sizeName} {
    @extend .title;
    color: $titleTextColor;
    font-size: $size rem;
  }

  .subtitle--{$sizeName} {
    @extend .subtitle;
    margin-top: -1.25rem;
    color: $secondaryTextColor;
    font-size: $size*.75 rem;
  }

}



